.promo {
  max-width: 818px;
  min-height: 304px;
  display: flex;
  justify-content: space-between;
  margin: -43 auto 0 auto;
  flex-direction: row;
  margin: 0 auto;
  padding-top: 25px;
}
.promo .background-props {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.promo .tour-component {
  width: 236px;
  height: 304px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.promo .tour-component .info-holder {
  width: 80%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.promo .tour-component .isreal-pic {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/tour-01.jpg);
}
.promo .tour-component .usa-pic {
  background-image: linear-gradient rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6), url(../images/tour-02.jpg);
}
.promo .tour-component .australia-pic {
  background-image: linear-gradient rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6), url(../images/tour-03.jpg);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

.site-wrapper {
  max-width: 1280px;
  min-height: 500px;
  background-color: #FFF;
  margin: 0 auto;
  position: relative;
}

.nav-holder {
  position: absolute;
  top: 0;
  z-index: 99;
  width: 100%;
  text-align: right;
}
.nav-holder a {
  text-decoration: none;
  color: #FFF;
}
.nav-holder nav {
  padding-top: 40px;
  width: 980px;
  height: 90px;
  margin: 0 auto;
  border-bottom: solid #FFF 2px;
}

.home .hero {
  max-width: 100%;
  height: 500px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;
}
.home .hero .callout {
  width: 416px;
  min-height: 100px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
}
.home .hero .callout h1 {
  margin-bottom: 50px;
}
.home .hero .callout p {
  margin-bottom: 50px;
  text-align: center;
}
.home .hero .callout span {
  background-color: #79addc;
  padding: 15px;
}
.home .form-area {
  max-width: 818px;
  min-height: 304px;
  margin: 50px auto 0 auto;
}
.home .form-area .form .two-input {
  min-height: 58px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.home .form-area .form .two-input .left {
  width: 344px;
  height: 58px;
  padding: 5px;
  font-size: 18px;
  border-color: solid #79addc 2px;
}
.home .form-area .form .two-input .right {
  width: 453px;
  height: 58px;
  padding: 5px;
  font-size: 18px;
  border-color: solid #79addc 2px;
}
.home .form-area .form .single-line-input-holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.home .form-area .form .single-line-input-holder .large-input {
  width: 698px;
}
.home .form-area .form .single-line-input-holder .large-input .icon {
  position: absolute;
  font-size: 24px;
  right: 30px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 800px) {
  .home {
    max-width: 80%;
    align-items: center;
  }
}
.about {
  margin-top: 110px;
  margin-bottom: 180px;
}
.about .about-header h1 {
  margin-bottom: 2px;
}
.about .about-header .border-bottom {
  width: 97px;
  height: 2px;
  background-color: #000;
  margin-bottom: 16px;
}
.about .about-client-quotes {
  margin-top: 107px;
}
.about .about-client-quotes .client-box {
  max-width: 722px;
  display: flex;
  position: relative;
  margin-bottom: 37px;
}
.about .about-client-quotes .client-box .client-image {
  width: 260px;
  height: 150px;
  overflow: hidden;
  margin-right: 21px;
}
.about .about-client-quotes .client-box .client-image img {
  width: 100%;
}
.about .about-client-quotes .client-box .client-quote {
  max-width: 440px;
  margin-bottom: 20px;
}
.about .about-client-quotes .client-box .client-name {
  position: absolute;
  bottom: 0;
  right: 0;
}

footer {
  background-color: #79addc;
  color: #FFF;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

/*# sourceMappingURL=styles.css.map */
