a {
  text-decoration: none;
  color: white;
}

.promo {
  max-width: 818px;
  min-height: 304px;
  display: flex;
  justify-content: space-between;
  margin: -43 auto 0 auto;
  flex-direction: row;
  margin: 0 auto;
  padding-top: 25px;
  color: white;
}

.background-props {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.tour-component {
  width: 236px;
  height: 304px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-holder {
  width: 80%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.isreal-pic {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/tour-01.jpg);
}

.usa-pic {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/tour-02.jpg);
}

.australia-pic {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/tour-03.jpg);
}

.new-zealand-pic {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/tour-04.jpg);
}

.france-pic {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/tour-05.jpg);
}

.egypt-pic {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/tour-06.jpg);
}

.japan-pic {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/tour-07.jpg);
}

.canada-pic {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/tour-08.jpg);
  margin-bottom: 20px;
}

.uae-pic {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/tour-09.jpg);
}

span {
  background-color: #79addc;
  padding: 15px;
  border-radius: 25px;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

html, body {
  height: 100%;
  max-width: 981px;
  margin: 0 auto;
  justify-content: center;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

.site-wrapper {
  max-width: 1280px;
  min-height: 500px;
  background-color: #FFF;
  margin: 0 auto;
  position: relative;
}

.nav-holder {
  top: 0;
  z-index: 99;
  width: 100%;
  text-align: right;
}
.nav-holder nav {
  max-width: 980px;
  margin: 0 auto;
  background-color: #FFF;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid black;
}
.nav-holder nav .logo {
  width: 100px;
  height: 50px;
  background-color: white;
  border: solid black;
  text-align: center;
}
.nav-holder nav .logo2 {
  width: 100px;
  height: 50px;
  border: solid white;
}
.nav-holder nav .links a {
  text-decoration: none;
  margin-left: 20px;
  color: black;
}

.home .hero {
  max-width: 100%;
  height: 500px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;
}
.home .hero .callout {
  width: 416px;
  min-height: 100px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
}
.home .hero .callout h1 {
  margin-bottom: 50px;
}
.home .hero .callout p {
  margin-bottom: 50px;
  text-align: center;
}
.home .hero .callout span {
  background-color: #79addc;
  padding: 15px;
}
.home .form-area {
  max-width: 818px;
  min-height: 304px;
  margin: 50px auto 0 auto;
}
.home .form-area .form .two-input {
  min-height: 58px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.home .form-area .form .two-input .left {
  width: 344px;
  height: 58px;
  padding: 5px;
  font-size: 18px;
  border-color: solid #79addc 2px;
}
.home .form-area .form .two-input .right {
  width: 453px;
  height: 58px;
  padding: 5px;
  font-size: 18px;
  border-color: solid #79addc 2px;
}
.home .form-area .form .single-line-input-holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.home .form-area .form .single-line-input-holder .large-input {
  width: 698px;
}
.home .form-area .form .single-line-input-holder .large-input .icon {
  position: absolute;
  font-size: 24px;
  right: 30px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 800px) {
  .home {
    max-width: 80%;
    align-items: center;
  }
}
.about {
  margin-top: 110px;
  margin-bottom: 180px;
}
.about .about-header h1 {
  margin-bottom: 2px;
}
.about .about-header .border-bottom {
  width: 97px;
  height: 2px;
  background-color: #000;
  margin-bottom: 16px;
}
.about .about-client-quotes {
  margin-top: 107px;
}
.about .about-client-quotes .client-box {
  max-width: 722px;
  display: flex;
  position: relative;
  margin-bottom: 37px;
}
.about .about-client-quotes .client-box .client-image {
  width: 260px;
  height: 150px;
  overflow: hidden;
  margin-right: 21px;
}
.about .about-client-quotes .client-box .client-image img {
  width: 100%;
}
.about .about-client-quotes .client-box .client-quote {
  max-width: 440px;
  margin-bottom: 20px;
}
.about .about-client-quotes .client-box .client-name {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #79addc;
  font-size: 20px;
}

.hero {
  margin: 150px auto -5px auto;
  height: 200px;
  width: 981px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tours-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  text-align: right;
}

.hero-israel {
  margin: 20px auto;
  height: 413px;
  width: 981px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour-01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.israel-pic-1 {
  background-image: url(../images/tour-israel/israel-tour-01.jpg);
}

.israel-pic-2 {
  background-image: url(../images/tour-israel/israel-tour-02.jpg);
  margin-bottom: 20px;
}

.israel-pic-3 {
  background-image: url(../images/tour-israel/israel-tour-03.jpg);
}

.hero-usa {
  margin: 20px auto;
  height: 413px;
  width: 981px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour-02.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.usa-pic-1 {
  background-image: url(../images/tour-usa/usa-tour-01.jpg);
}

.usa-pic-2 {
  background-image: url(../images/tour-usa/usa-tour-02.jpg);
  margin-bottom: 20px;
}

.usa-pic-3 {
  background-image: url(../images/tour-usa/usa-tour-03.jpg);
}

.hero-aus {
  margin: 20px auto;
  height: 413px;
  width: 981px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour-03.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aus-pic-1 {
  background-image: url(../images/tour-aus/aus-tour-01.jpg);
}

.aus-pic-2 {
  background-image: url(../images/tour-aus/aus-tour-02.jpg);
  margin-bottom: 20px;
}

.aus-pic-3 {
  background-image: url(../images/tour-aus/aus-tour-03.jpg);
}

.hero-nz {
  margin: 20px auto;
  height: 413px;
  width: 981px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour-04.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nz-pic-1 {
  background-image: url(../images/tour-nz/nz-tour-01.jpg);
}

.nz-pic-2 {
  background-image: url(../images/tour-nz/nz-tour-02.jpg);
  margin-bottom: 20px;
}

.nz-pic-3 {
  background-image: url(../images/tour-nz/nz-tour-03.jpg);
}

.hero-france {
  margin: 20px auto;
  height: 413px;
  width: 981px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour-05.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.france-pic-1 {
  background-image: url(../images/tour-france/france-tour-01.jpg);
}

.france-pic-2 {
  background-image: url(../images/tour-france/france-tour-02.jpg);
  margin-bottom: 20px;
}

.france-pic-3 {
  background-image: url(../images/tour-france/france-tour-03.jpg);
}

.hero-egypt {
  margin: 20px auto;
  height: 413px;
  width: 981px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour-06.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.egypt-pic-1 {
  background-image: url(../images/tour-egypt/egypt-tour-01.jpg);
}

.egypt-pic-2 {
  background-image: url(../images/tour-egypt/egypt-tour-02.jpg);
  margin-bottom: 20px;
}

.egypt-pic-3 {
  background-image: url(../images/tour-egypt/egypt-tour-03.jpg);
}

.hero-japan {
  margin: 20px auto;
  height: 413px;
  width: 981px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour-07.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.japan-pic-1 {
  background-image: url(../images/tour-japan/japan-tour-01.jpg);
}

.japan-pic-2 {
  background-image: url(../images/tour-japan/japan-tour-02.jpg);
  margin-bottom: 20px;
}

.japan-pic-3 {
  background-image: url(../images/tour-japan/japan-tour-03.jpg);
}

.hero-canada {
  margin: 20px auto;
  height: 413px;
  width: 981px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour-08.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.canada-pic-1 {
  background-image: url(../images/tour-canada/canada-tour-01.jpg);
}

.canada-pic-2 {
  background-image: url(../images/tour-canada/canada-tour-02.jpg);
  margin-bottom: 20px;
}

.canada-pic-3 {
  background-image: url(../images/tour-canada/canada-tour-03.jpg);
}

.hero-uae {
  margin: 20px auto;
  height: 413px;
  width: 981px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour-09.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.uae-pic-1 {
  background-image: url(../images/tour-uae/uae-tour-01.jpg);
}

.uae-pic-2 {
  background-image: url(../images/tour-uae/uae-tour-02.jpg);
  margin-bottom: 20px;
}

.uae-pic-3 {
  background-image: url(../images/tour-uae/uae-tour-03.jpg);
}

.offers h1 {
  text-decoration: underline;
}

.blog {
  max-width: 980px;
  min-height: 100px;
  margin: 0 auto;
}
.blog h1 {
  text-decoration: underline;
}
.blog .post {
  width: 100%;
  min-height: 50px;
  display: flex;
  margin-bottom: 100px;
}
.blog .post .left {
  width: 60px;
  margin-right: 20px;
}
.blog .post .left .date-box {
  width: 60px;
  height: 60px;
  background-color: #79addc;
  color: white;
  text-align: center;
}
.blog .post .left .date-box h1 {
  margin-bottom: -2px;
}
.blog .post .right {
  width: 900px;
}
.blog .post .right .blog-hero {
  width: 900px;
  height: 259px;
  background-image: url(../images/blog.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 40px;
}
.blog .post .right h1 {
  text-align: left;
}
.blog .post .right p {
  text-align: left;
  color: #79addc;
  max-width: 45%;
}

@media (max-width: 1000px) {
  .blog .post .right {
    width: 750px;
  }
}
footer {
  margin-top: 20px;
  background-color: #79addc;
  color: #FFF;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
footer .footer-content {
  max-width: 980px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
footer .media {
  text-align: right;
  padding-right: 100px;
}

/*# sourceMappingURL=styles.css.map */
