.promo{
    max-width: 818px;
    min-height: $tour-banner-height;
    display: flex;
    justify-content: space-between;
    margin: -43 auto 0 auto;
    flex-direction: row;
    margin: 0 auto;
    padding-top: 25px;
    color:white;
}

.background-props{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 }
        
.tour-component{
    width: $tour-banner-width;
    height: $tour-banner-height;        
    display: flex;
    align-items: center;
    justify-content: center;
 }

.info-holder{
width: 80%;
height: 50%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
}
    
.isreal-pic{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../images/tour-01.jpg);
}

.usa-pic{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../images/tour-02.jpg);
}

.australia-pic{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../images/tour-03.jpg);
}
.new-zealand-pic{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../images/tour-04.jpg);
}
.france-pic{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../images/tour-05.jpg);
}
.egypt-pic{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../images/tour-06.jpg);
}
.japan-pic{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../images/tour-07.jpg);
}
.canada-pic{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../images/tour-08.jpg);
    margin-bottom: 20px;
}
.uae-pic{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../images/tour-09.jpg);
}
span{
    background-color: $site-blue;
    padding: 15px;
    border-radius: 25px;
}
