footer{
    background-color: $site-blue;
    color: $site-white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;

    .footer-content {
        max-width: $content-width;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
      }
.media{
    text-align: right;
    padding-right:100px;
}
}