.nav-holder{
color:black;
    top: 0;
    z-index: 99;
    width: 100%;
    text-align: right;

    nav {
        max-width: $content-width;
        margin: 0 auto;
        background-color: $site-white;
        min-height: $nav-footer-height;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: solid black;
      
        .logo {
          width: 100px;
          height: 50px;
          background-color: white;
          border: solid black;
          text-align: center;  
        }

        .logo2 {
            width: 100px;
            height: 50px;
            border: solid white;
          }
      
        .links {
            a {
                text-decoration: none;
                margin-left: 20px;
                color:black;
            }
        }
    }
      
}