.nav-holder{
    position: absolute;
    top: 0;
    z-index: 99;
    width: 100%;
    text-align: right;

    a{
        text-decoration: none;
        color:$site-white;
    }

    nav{
        padding-top: 40px;
        width: $site-nav-width;
        height: $site-nav-height;
        margin: 0 auto;
        border-bottom: solid $site-white 2px;
    }
}