.hero{
    margin: 150px auto -5px auto;
    height: 200px;
    width: 981px;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/tours-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:$site-white;

    display: flex;
    align-items: center;
    justify-content: center;
}