//site structure variables
$site-width: 1280px;
$hero-height: 500px;
$site-nav-width: 980px;
$site-va-height: 90px;

//site colors
$site-white: #FFF;
$site-blue: #79addc;
$site-black: #000;

//tour banners
$tour-banner-height: 304px;
$tour-banner-width: 236px;